<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripIt2Gether</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TripIt2Gether</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Trips" asp-action="Index">Wycieczki</a>
                        </li>
                        @if (User.IsInRole("TourOperator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Applications" asp-action="Index">Zgłoszenia</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @if (ViewContext.RouteData.Values["Controller"] != null && ViewContext.RouteData.Values["Controller"].ToString().Equals("Applications") && ViewContext.RouteData.Values["Action"].ToString().Equals("Index"))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <form method="get">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <button type="submit" id="participationStatusW" class="nav-link text-dark btn" asp-area="" asp-controller="Applications" asp-action="Index">Wszystkie zgłoszenia</button>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" bind-Value="ParticipationStatus" id="participationStatusOP" value="@ParticipationStatus.OczekujacaPotiwerdzenia" name="participationStatus" class="nav-link text-dark btn" asp-area="" asp-controller="Applications" asp-action="Index">Oczekujące potwierdzenia</button>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" bind-Value="ParticipationStatus" id="participationStatusZ" value="@ParticipationStatus.Zaakaceptowana" name="participationStatus" class="nav-link text-dark btn" asp-area="" asp-controller="Applications" asp-action="Index">Zaakceptowane </button>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" bind-Value="ParticipationStatus" id="participationStatusA" value="@ParticipationStatus.Anulowana" name="participationStatus" class="nav-link text-dark btn" asp-area="" asp-controller="Applications" asp-action="Index">Odrzucone</button>
                                </li>
                                <li class="nav-item">
                                    <select name="TripId" class="form-control" asp-for="@ViewData["SelectedTrip"]" asp-items="ViewBag.Trips">
                                    </select>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TripIt2Gether - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
